@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* components */
@import "components/music-componunte.css";
@import "components/nav.css";
@import "components/play-bar.css";
@import "components/top-bar.css";
@import "components/playlist-btn.css";
<<<<<<< HEAD
=======
@import "components/lib-playlist.css";
>>>>>>> db14fc068dc7dd6fc7808c2cbea24529f6874114

/* screens */
@import "screens/home.css";
@import "screens/browse.css";
@import "screens/library.css";
@import "screens/user.css";
@import "screens/musician.css";
@import "screens/music-play.css";
@import "screens/chart.css";
@import "screens/login.css";

@import "variable.css";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--main-black);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.screen {
  width: 400px;
  height: 800px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 10px 40px #39525a28;
  overflow: scroll;
}
.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 3px;
}

h2 {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
input {
  outline: none;
}
@media (max-width: 400px) {
  .screen {
    height: 100%;
    border-radius: 0px;
  }
}
