.today-music {
  margin-top: 60px;
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: flex-end;
}
.today-music__column h4 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.3;
}
.today-music__column {
  color: white;
  margin-bottom: 70px;
}

.today-music__column i {
  cursor: pointer;
}

.today-music__column i:active {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.today-music__playlists {
  width: 85%;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.today-music__playlist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.today-music__playlist:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.today-music__playlist__text {
  font-size: 14px;
  font-weight: 700;
}
.today-music__musician {
  opacity: 0.8;
  font-size: 14px;
  font-weight: 500;
}
.today-music__name {
  margin-top: 5px;
  font-size: 16px;
}
.today-music__playlist__column {
  display: flex;
  align-items: flex-end;
}
.today-music__playlist__column img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.today-music__playlist__column span {
  font-size: 10px;
  opacity: 0.7;
}
.home h5 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 5px;
}
.new-releases__column,
.mood-playlist__column,
.focus-playlist__column {
  font-size: 12px;
}

.new-releases__list,
.mood-playlist__list,
.focus-playlist__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  width: 340px;
  padding: 3px 0;
  overflow-x: scroll;
}
.new-releases__content,
.mood-playlist__content,
.focus-playlist__content {
  margin-right: 15px;
}

.new-releases__title,
[class*="playlist__title"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-releases__content,
.mood-playlist__content,
.focus-playlist__content {
  cursor: pointer;
}
.new-releases__content img,
.mood-playlist__content img,
.focus-playlist__content img {
  width: 110px;
  height: 110px;
  margin-bottom: 8px;
}
.overflow {
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
}
.musician-name {
  opacity: 0.6;
}

.fa-ellipsis-v {
  opacity: 0.8;
}
