.lib-playist {
    display: flex;
    justify-content: space-between;
    width: 85%;
    flex-wrap: wrap;
}

.lib-playist img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.lib-playlist__list h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.lib-playlist__list h6 {
    font-size: 12px;
    font-weight: 500;
    opacity: .8;
    margin-bottom: 20px;
}
.lib-playlist__list h6,
.lib-playlist__list h5{
    width:150px; 
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis; 

}
.lib-playlist__list {
    transition: all 0.2s ease-in-out;

}
.lib-playlist__list:hover {
    transform: scale(1.02);

}