.playlist {
  width: 85%;
  padding: 5px;
  border-radius: 10px;
  overflow: scroll;
}
.bs {
  box-shadow: var(--box-shadow);
}
.playlist__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  a > .playlist__content {
    position: relative;
    background-color: var(--yellow);
    box-shadow: var(--box-shadow);
    color: white;
  }

  .playlist__column .fa-play-circle {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .playlist__musician {
    font-size: 12px;
    font-weight: 600;
    opacity: .7;
  }

  .playlist__song {
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
  }
  .playlist__content i {
    opacity: .8;
  }
  .playlist__column:first-child {
    display: flex;
    align-items: center;
    width: 80%;
  }
  .playlist__column:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

   }
  .playlist__column img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
 
  .playlist__content:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  .playlist__column:last-child :active {
    color: var(--yellow);
}
a > .playlist__content .fa-ellipsis-v:hover {
  color: var(--main-black);
  opacity: .8;
}